<<<<<<< HEAD
#lound{
	background-color: blue;
	font-size:29px;
	color: #fff;
	height: 70vh;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;

}
#user-name{
	text-transform: capitalize;
}
=======
#lound{
	background-color: blue;
	font-size:29px;
	color: #fff;
	height: 70vh;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;

}
#user-name{
	text-transform: capitalize;
}
>>>>>>> 1f715d8bcd94afa32771026f1160bbcfa733aa93
